
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sell Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    
    <ion-list>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input [(ngModel)]="item.name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="item.category">
            <ion-option value="Electronics">Electronics</ion-option>
            <ion-option value="Vehicle">Vehicle</ion-option>
            <ion-option value="Household Goods">Household Goods</ion-option>
            <ion-option value="Furniture">Furniture</ion-option>
            <ion-option value="House Rent/Sell">House Rent/Sell</ion-option>
            <ion-option value="Books">Books</ion-option>
            <ion-option value="Sports">Sports</ion-option>
            <ion-option value="Other">Other</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Description ( warranty, age, condition etc)</ion-label>
          <ion-input [(ngModel)]="item.description" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Price</ion-label>
          <ion-input [(ngModel)]="item.price" type="number"></ion-input>
        </ion-item>
        <ion-item>
          
          <h4>Image Preview</h4>
          <div class="image-container">
            <img *ngIf="base64Image"  [src]="base64Image" />
            <img *ngIf="base64Image1" [src]="base64Image1" />
            <img *ngIf="base64Image2" [src]="base64Image2" />
            <img *ngIf="base64Image3" [src]="base64Image3" />
          </div>
        </ion-item>

    </ion-list>
    <div class="button-group">
    <button *ngIf="!base64Image" ion-button round icon-left color="primary" (click)="getImage()">
      <ion-icon name="camera"></ion-icon>  
      Take Picture
    </button>
    <button *ngIf="base64Image" ion-button round icon-left color="dark" (click)="addMore()">
        <ion-icon name="add"></ion-icon>  
         Add More
    </button>
    <button ion-button round color="secondary" icon-left (click)="upload()">
        <ion-icon name="cloud-upload"></ion-icon>  
        Upload
    </button>
    </div>
</ion-content>
