page-sell {
    ion-item img {
        max-width: 50%;
    }

    .image-container {
        overflow-x: scroll;
    }

    .button-group {
        text-align: center;
    }

    h4 {
        color: #00ACC1;
        padding-bottom: 5px;
    }
}
