<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      ONGC MarketPlace
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-start (click)="toggleFilter()">
          <ion-icon name="options"></ion-icon>
          Filter
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="refresh-circle"
        refreshingSpinner="bubbles" >
      </ion-refresher-content>
    </ion-refresher>
    
    <ion-list *ngIf="filterActive">
      <ion-item>
        <ion-label class="range-heading"> Select Price Range </ion-label>
        <ion-range min="0" max="60000" step="1000" color="secondary" [(ngModel)]="rangeValue">
          <ion-label range-left>₹ 0</ion-label>
          <ion-label range-right> ₹ {{rangeValue}}</ion-label>
        </ion-range>
      </ion-item>
      
      <ion-item>
        <ion-label class="range-heading"> Choose Category </ion-label>
      </ion-item>

      <ion-list radio-group>
        <ion-item *ngFor="let category of categories">
          <ion-label>{{category}}</ion-label>
          <ion-radio value="{{category}}" (ionSelect)="selectEvent(category)"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button block (click)="doFilter()" >Done</button>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card *ngFor="let item of itemLeft" (click)="showDetails(item)">
            <img-loader [src]="item.imageurl" useImg  [spinner]="true"></img-loader>
            <ion-card-content>
              <ion-card-title>
                ₹ {{item.item_price}}
              </ion-card-title>
              <p>
                {{item.item_name}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card *ngFor="let item of itemRight" (click)="showDetails(item)">
            <img-loader [src]="item.imageurl" useImg  [spinner]="true"></img-loader>
            <ion-card-content>
              <ion-card-title>
                ₹ {{item.item_price}}
              </ion-card-title>
              <p>
                {{item.item_name}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="sell()">SELL</button>
  </ion-fab>
</ion-content>
