page-notification {
    
    .scroll-content{
        background-color: #eeeeee !important;
    }

    .card p {
        font-size: 1.0rem;
    }

    .card-header {
        color: #00ACC1;
    }

    ion-label {
        white-space: normal;
    }

    .no-notification {
        margin-left: 25px;
        padding-bottom: 10px;
    }
}
