// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.popover-content {
    top: 200px !important;
}

.sidebar-button {
	color: darkslategrey;
}

.label {
	padding-top: 3px;
}

.sidebar-header {

	background-image: url(../assets/imgs/sidebar.png);
	height: 150px;

	.sidebar-avatar {
		position: absolute;
		width: 70px;
		border-radius: 50%;
		top: 20px;
		left: 20px;
	}

	.sidebar-name {
		position: absolute;
		top: 75px;
		color: white;
		padding: 10px;
		font-size: 16px;
		font-weight: bold;
	}

	.sidebar-email {
		position: absolute;
		top: 100px;
		color: white;
		padding: 10px;
		font-size: 12px;
	}
}