page-details {

    .scroll-content{
        background-color: #efe7e7 !important;
    }

    .slide-container-shrink {
        height: 40%;
        position: relative;
    }

    .slide-container-expand {
        height: 100%;
        position: relative;
    }

    .slide-text {
        color: white;
        position: relative;
        bottom: 12%;
        padding-left: 75%;
        z-index: 90;
        font-size: 16px;
    }

    .item {
        margin: 5px;
        border-bottom: 1px solid lightgrey;

        h2 {
            color: #06727f
        }
    }

    .timestamp {
        font-size: 12px;
        font-weight: 400;
        float: right;
    }

    .button-block {
        width: 94%;
        margin: 3%;
    }

}
